@font-face {
    font-family: "prueba";
    src: url(fonts/Best_Valentina_TTF.ttf); /* Eliminate other formats*/
}
.contenedor{
    box-sizing:border-box;
    width:100%;
    padding:10px;
}
.lienzo{ 
    border:1px solid #d9d9d9;  
}